@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.SidebarNav{
  top: 0;    
  overflow: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#divZero{
  margin-left: 30px;
  margin-right: 30px;
}
